<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426307365530-6ifdf35n3ej2savu86u73g2edfuvmsst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426307365530-6ifdf35n3ej2savu86u73g2edfuvmsst</string>
	<key>API_KEY</key>
	<string>AIzaSyDpFTM9j1pgmrigkkVseo-eSpzM5zHrGzk</string>
	<key>GCM_SENDER_ID</key>
	<string>426307365530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>bookflutterapp</string>
	<key>STORAGE_BUCKET</key>
	<string>bookflutterapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426307365530:ios:f0bd6a4d58b54e4e8c4d23</string>
</dict>
</plist>